section {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    position: relative;

    >img {
        padding: 5rem 0 5rem 0;
    }
}

h1 {
    font-size: 48px;
}

.d-none{
    display: none;
}