<section (mouseover)="showProjectInfo()" (mouseleave)="hideProjectInfo()">
    <h1 class="fontSyne700">02/03</h1>
    <div class="image-container">
        <img id="img-gray-join" src="../../../../assets/img/join-gray.png" alt="">
        <img id="img-colored-join" class="d-none" src="../../../../assets/img/join-colored.png" alt="">
        <div class="imageBorder">
            <div class="arrow-container">
                <img src="../../../../assets/img/arrow-down-protfolio.png" alt="">
            </div>
        </div>
    </div>

    <div class="projectDescription">
        <h2 class="fontSyne800">Join</h2>
        <span class="fontOverpass400">JavaScript | HTML | CSS </span>
        <p class="fontOverpass400">Task manager inspired by the Kanban System. Create and organize tasks using drag and
            drop functions, assign users and categories.</p>
        <div>
            <button class="fontOverpass400">GitHub</button>
            <button class="fontOverpass400">Live</button>
        </div>
    </div>
</section>