section {
    display: flex;
    position: relative;
    justify-content: flex-end;
    max-width: 1440px;
    height: 25rem;
    margin-right: 5rem;
}

.startMovingArrow {
    >div {
        >img {
            position: absolute;
            top: 0;
            right: 0;
            animation: arrowMove 0.5s linear forwards;
        }
    }
}

@keyframes arrowMove {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-60%, 60%);
    }
}

@media only screen and (max-width: 490px) {
    section {
        height: 16rem;
    }

    .startMovingArrow>div>img {
        animation: arrowMoveMobile 0.5s linear forwards;
    }

    .arrow-container {
        >img {
            width: 10rem;
            height: 10rem;
        }
    }
}

@keyframes arrowMoveMobile {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-30%, 30%);
    }
}