<section>
    <h1 class="fontSyne800">{{'aboutMeHeader' | translate}}</h1>
    <div class="about-me-container">
        <div class="description-container">
            <span class="fontOverpass400">{{'aboutMeText' | translate}}</span>
            <div>
                <a href="#contact-me">
                    <button class="fontOverpass400">{{'aboutMeButton' | translate}}</button>
                </a>
            </div>
        </div>
        <div class="aboutMeImage">
            <img src="./../../../assets/img/profil.png" alt="">
            <!--<div class="imageBorder"></div>-->
        </div>
    </div>
</section>