section {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    max-width: 40rem;
    font-size: 78px;
    transition: all 125ms ease-in-out;


    &:hover {
        transition: all 125ms ease-in-out;
        color: rgba(89, 136, 255, 1);
    }

    @media only screen and (max-width: 1480px) {
        margin-left: 1rem;
    }

    @media only screen and (max-width: 1300px) {
        font-size: 67px;
    }

    @media only screen and (max-width: 1000px) {
        font-size: 54px;
    }

    @media only screen and (max-width: 860px) {
        font-size: 40px;
    }

    @media only screen and (max-width: 620px) {
        font-size: 38px;
    }

    @media only screen and (max-width: 430px) {
        font-size: 30px;
    }

    @media only screen and (max-width: 350px) {
        font-size: 25px;
    }
}

span {
    font-size: 23px;

    @media only screen and (max-width: 620px) {
        font-size: 18px;
    }
}

button {
    padding: 20px 60px 20px 60px;
    margin: 5rem;
    background-color: unset;
    border: 4px solid black;
    font-size: 23px;
    cursor: pointer;
    transition: all 100ms ease-out;

    &:hover {
        transition: all 100ms ease-out;
        padding: 20px 80px 20px 80px;
        font-weight: bold;
    }

    @media only screen and (max-width: 1040px) {
        padding: 15px 40px 15px 40px;

        &:hover {
            padding: 15px 60px 15px 60px;
        }
    }

    @media only screen and (max-width: 1000px) {
        display: none;
    }
}

img {
    width: 20rem;

    @media only screen and (max-width: 1480px) {
        width: 14rem;
    }

    @media only screen and (max-width: 529px) {
        width: 10rem;
    }
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    gap: 10rem;

    @media only screen and (max-width: 1480px) {
        margin: 0 1rem 0 1rem;
    }

    @media only screen and (max-width: 1000px) {
        flex-direction: column;
        gap: 2rem;
    }

    /* @media only screen and (max-width: 840px) {
        flex-direction: column;
        gap: 2rem;
    } */
}

.description-container {
    >div {
        display: flex;
        justify-content: center;

    }
}


.aboutMeImage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
        .imageBorder {
            opacity: 1;
            transform: translate(-10px, -10px);
            transition: all ease-in-out 125ms;
        }
    }
}

.imageBorder {
    height: 100%;
    width: 100%;
    border: solid 3px black;
    position: absolute;
    opacity: 0;
    transition: all ease-in-out 125ms;

    @media only screen and (max-width: 1280px) {
        height: 90%;
    }

    @media only screen and (max-width: 1185px) {
        height: 85%;
    }

    @media only screen and (max-width: 1120px) {
        height: 80%;
        width: 20rem;
    }

    /*@media only screen and (max-width: 1080px) {
        height: 80%;
        width: 20rem;
    }*/

    @media only screen and (max-width: 1055px) {
        height: 75%;
        //width: 20rem;
    }

    @media only screen and (max-width: 1000px) {
        height: 100%;
    }

    @media only screen and (max-width: 420px) {
        width: 14rem;
    }


    /*@media only screen and (max-width: 840px) {
        height: 100%;
        width: 25rem;
    }

    @media only screen and (max-width: 620px) {
        height: 100%;
        width: 18rem;
    }*/
}

/*@media only screen and (max-width: 1130px) {
    img {
        width: 25rem;
    }
}

@media only screen and (max-width: 860px) {
    img {
        width: 16rem;
    }
}

/*@media only screen and (max-width: 620px) {
    img{
        width: 18rem;
    }
}*/