<section>
    <h1 class="fontSyne800">About me</h1>
    <div class="about-me-container">
        <div>
            <span class="fontOverpass400">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo fuga corrupti quis, blanditiis
                veniam labore delectus qui minima facere quisquam eos ducimus debitis inventore ab totam, nostrum
                excepturi, illo placeat.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo fuga corrupti quis, blanditiis
                veniam labore delectus qui minima facere quisquam eos ducimus debitis inventore ab totam, nostrum
                excepturi, illo placeat.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo fuga corrupti quis, blanditiis
                veniam labore delectus qui minima facere quisquam eos ducimus debitis inventore ab totam, nostrum
                excepturi, illo placeat.</span>
        </div>
        <div>
            <img src="./../../../assets/img/profil.png" alt="">
        </div>
    </div>
</section>
