section {
    background-image: url('../../../assets/img/bg-contact-section.png');
    width: 100%;
    max-width: 1440px;
    margin: 0;

    >div {
        display: flex;
        justify-content: center;
    }
}

h1 {
    color: white;
    font-size: 78px;
    padding: 5rem 0 0 3rem;
}

h3 {
    color: rgba(89, 136, 255, 1);
    font-size: 32px;
    margin: 0;
}

p{
    color: white;
    font-size: 23px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: unset;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: white;
    background-color: black;
    font-size: 16px;
    font-family: 'Overpass';
    font-weight: 400;
    outline: none;
}

::placeholder {
    color: white;
    font-size: 16px;
    font-family: 'Overpass';
    font-weight: 400;
}

input[type=submit] {
    background-color: black;
    color: gray;
    padding: 12px 20px;
    border: 3px solid gray;
    cursor: pointer;
    margin: 0 auto; 
    display: block;
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 23px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    padding: 20px;
}

.form-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    }