<section>
    <h1>Say Hi!</h1>

    <div class="form-title">
        <h3 class="fontOverpass700">Want to discuss a new project?</h3>
        <div>
            <p class="fontOverpass400">Say hello! let's discuss your ideas and make it happen</p>
        </div>
    </div>

    <div class="container">
        <form action="action_page.php">

            <input type="text" id="fname" name="name" placeholder="Your name">

            <input type="text" id="lname" name="mail" placeholder="Your mail">

            <textarea id="subject" name="subject" placeholder="Your message" style="height:200px"></textarea>

            <input type="submit" value="Send message">

        </form>
    </div>
</section>