<section>
    <h1 class="fontSyne800">Say Hi!</h1>

    <div class="form-title">
        <h3 class="fontOverpass700">Want to discuss a new project?</h3>
        <div>
            <p class="fontOverpass400">Say hello! let's discuss your ideas and make it happen</p>
        </div>
    </div>

    <div class="form-container">
        <form action="action_page.php" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

            <input [(ngModel)]="contactData.name" #name="ngModel" minlength="3" type="text" id="fname" name="name"
                placeholder="Your name" required>
            @if (!name.valid && name.touched) {
            <h5>Your name is required</h5>
            }

            <input [(ngModel)]="contactData.email" #email="ngModel" type="text" id="mail" name="mail"
                placeholder="Your mail" required pattern="[^@]+@[^\.]+\..+">
            @if (!email.valid && email.touched) {
            <h5>Your e-mail is required</h5>
            }

            <textarea [(ngModel)]="contactData.message" #message="ngModel" minlength="4" id="subject" name="subject"
                placeholder="Your message" style="height:200px" required></textarea>
            @if (!message.valid && message.touched) {
            <h5>Yout message is empty</h5>
            }

            <div class="checkbox-container">
                <input type="checkbox" (click)="acceptPolicy()" id="checkbox" name="private-policy" value="">
                <span>
                    I've read the <a href="imprint"> privacy policy</a> and agree to the processing of my data as
                    outlined.
                </span>
            </div>
            @if (!checkboxIsChecked && sendButtonClicked)
            {
                <h6>Please accept the privacy policy</h6>
            }

            <input (click)="sendMessage()" id="send-btn" type="submit" value="Send message">
        </form>
    </div>

    <div class="arrow-up-footer">
        <a href="#header">
            <img src="../../../assets/img/arow-up-footer.png" alt="">
        </a>
    </div>

</section>