<section>
    <div class="skill-container">
        <div class="title-container">
            <h2 class="fontSyne800">My skills</h2>
        </div>
        <div class="tools-container">
            <img src="../../../assets/img/angular.png" alt="">
            <img src="../../../assets/img/typescript.png" alt="">
            <img src="../../../assets/img/javascript.png" alt="">
            <img src="../../../assets/img/html.png" alt="">
            <img src="../../../assets/img/css.png" alt="">
        </div>
        <div class="tools-container">
            <img src="../../../assets/img/firebase.png" alt="">
            <img src="../../../assets/img/git.png" alt="">
            <img src="../../../assets/img/scrum.png" alt="">
            <img src="../../../assets/img/api.png" alt="">
            <img src="../../../assets/img/materialsdesign.png" alt="">
        </div>
    </div>
</section>