section {
    max-width: 1440px;

    .skill-container {
        border: 3px solid black;
        position: relative;
        padding: 10rem 5rem 10rem 5rem;

        @media only screen and (max-width: 1480px) {
            padding: 5rem 2rem 5rem 2rem !important;
        }
    }

    @media only screen and (max-width: 1480px) {
        margin: 0 1rem 0 1rem;
    }

    @media only screen and (max-width: 480px) {
        margin: 0 3rem 0 3rem;
    }
    @media only screen and (max-width: 400px) {
        margin: 0 6rem 0 6rem;
    }
}

h2 {
    font-size: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 10px;
    transition: all 125ms ease-in-out;

    &:hover {
        transition: all 125ms ease-in-out;
        color: rgba(89, 136, 255, 1);
    }

    @media only screen and (max-width: 1300px) {
        font-size: 67px;
        width: 28rem;
    }

    @media only screen and (max-width: 860px) {
        font-size: 50px;
        width: 21rem;
    }

    @media only screen and (max-width: 620px) {
        font-size: 38px;
        width: 18rem;
    }
}

.title-container {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 252, 243, 1);
}

.tools-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    >div {
        >img {
            margin: 1rem 5rem 0rem 5rem;
            transition: all 125ms ease-in-out;

            &:hover {
                transition: 125ms all ease-in-out;
                transform: scale(1.2) translateY(-10%);
            }

            @media only screen and (max-width: 1300px) {
                height: 3.5rem;
            }

            @media only screen and (max-width: 620px) {
                margin: 1rem 2rem 0rem 2rem;
            }

            @media only screen and (max-width: 480px) {
                height: 2.5rem;
            }

            @media only screen and (max-width: 400px) {
                margin: 0rem 1rem 0rem 1rem;
            }
        }

        >p {
            font-weight: bold;
            font-size: 16px;
            align-items: center;
            text-align: center;
            margin-bottom: 2rem;

            @media only screen and (max-width: 480px) {
                font-size: 13px;
            }
        }
    }
}

.ico-layout{
    display: flex;
    align-items: center;
    flex-direction: column;
}