section {
    max-width: 1440px;

    .skill-container {
        border: 3px solid black;
        position: relative;
        padding: 10rem 5rem 10rem 5rem; 
    }
}

h2 {
    font-size: 78px;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 10px;
}



.title-container{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 252, 243, 1);
}

.tools-container{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    >div{
        >img{
            margin: 1rem 5rem -0.3rem 5rem;
        }
        >p{
            font-weight: bold;
            font-size: 16px;
            align-items: center;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}

