header {
    max-width: 1440px;
    display: flex;
    justify-content: center;

    >div {
        max-width: 33rem;
    }
}

h1 {
    font-size: 78px;
    margin: 0;
    transition: all 125ms ease-in-out;

    &:hover {
        transition: all 125ms ease-in-out;
        color: rgba(89, 136, 255, 1);
    }

    @media only screen and (max-width: 1300px) {
        font-size: 67px;
    }

    @media only screen and (max-width: 860px) {
        font-size: 50px;
    }
}

p {
    font-size: 23px;
}