section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 252, 243, 1);
    z-index: 1;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 0 1rem;
    box-sizing: border-box;
}

.translation-container{
    z-index: 999;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 25px;
}

h1 {
    color: white;
    font-size: 78px;
    padding-left: 3rem;
    margin-bottom: 0.3rem;
   // width: 27rem;
    transition: all 125ms ease-in-out;
}

h1:hover {
    color: rgba(89, 136, 255, 1);
}

span {
    color: white;
    font-size: 23px;
}

a {
    text-decoration: none;
    color: black;
}

a.underline {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 96px;
    margin-bottom: 3.5rem;
    display: inline-block;
    overflow: hidden;
}

a.underline::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(89, 136, 255);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;
    transform-origin: left;
}

a.underline:hover::before {
    transform: scaleX(1);
    left: 50%;
}

.intials {
    z-index: 999;
}

.btn-container {
    cursor: pointer;
    z-index: 999;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(1, 1, 1);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-container {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100dvh;
    background-color: rgba(255, 252, 243, 1);
    flex-direction: column;
}

.menu-container .link-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-menu-container {
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/img/bg-contact-section.png');
    width: 100vw;
    padding-top: 10rem;

    @media only screen and (max-width: 2170px) {
        padding-top: 7rem;
    }

    @media only screen and (max-width: 1780px) {
        padding-top: 5rem;
    }
    
}

.social-media-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem 2rem 3rem;
}

.social-media-section > div > a > img {
    margin-left: 3rem;
    transition: all 125ms ease-in-out;

    @media only screen and (max-width: 700px) {
        display: none;
    }
}

.social-media-section > div > a > img:hover {
    transform: scale(1.2) translateY(-20%);
}

@media only screen and (max-width: 1480px) {
    .intials,
    .btn-container {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 1060px) {
    h1 {
        font-size: 60px;
    }
    a.underline {
        font-size: 60px;
    }
}

@media only screen and (max-width: 665px) {
    h1 {
        font-size: 50px;
    }
    span {
        font-size: 15px;
    }
    a.underline {
        font-size: 50px;
    }
}

@media only screen and (max-width: 560px) {
    h1 {
        font-size: 40px;
    }
    a.underline {
        font-size: 40px;
    }
}

@media only screen and (max-width: 450px) {
    a.underline {
        font-size: 28px;
    }
}

@media only screen and (max-width: 380px) {
    h1 {
        font-size: 32px;
    }
}

.d-none {
    display: none;
}
