section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem 0.5rem 0rem;
    max-width: 1440px;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 252, 243, 1);
    z-index: 1;
}

h1 {
    color: white;
    font-size: 78px;
    padding-left: 3rem;
    margin-bottom: 0.3rem;
    width: 27rem;
    transition: all 125ms ease-in-out;

    @media only screen and (max-width: 1060px) {
        font-size: 60px;
    }

    @media only screen and (max-width: 665px) {
        font-size: 50px;
    }

    @media only screen and (max-width: 560px) {
        font-size: 40px;
    }

    &:hover {
        transition: all 125ms ease-in-out;
        color: rgba(89, 136, 255, 1);
    }
}

span {
    color: white;
    font-size: 23px;

    @media only screen and (max-width: 665px) {
        font-size: 15px;
    }
}

a {
    text-decoration: none;
    color: black;
}

a.underline {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 96px;
    margin-bottom: 3.5rem;
    display: inline-block;
    overflow: hidden;

    @media only screen and (max-width: 1060px) {
        font-size: 60px;
    }

    @media only screen and (max-width: 665px) {
        font-size: 50px;
    }

    @media only screen and (max-width: 560px) {
        font-size: 40px;
    }

    @media only screen and (max-width: 450px) {
       /*width: 80vw;
        left: 41%;
        right: 50%;
        transform: translate(-24%, 50%);*/

        font-size: 28px;
    }
}

a.underline::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(89, 136, 255);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;
    transform-origin: left;
}

a.underline:hover::before {
    transform: scaleX(1);
    left: 50%;
}


.intials {
    z-index: 999;
}

.btn-container {
    cursor: pointer;
    z-index: 999;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(1, 1, 1);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-container {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100dvh;
    background-color: rgba(255, 252, 243, 1);
    flex-direction: column;

    >.link-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.contact-menu-container {
    position: absolute;
    bottom: 0;
    background-image: url('../../../assets/img/bg-contact-section.png');
    width: 100%;
    padding-top: 2rem;
}

.social-media-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem 2rem 3rem;

    >div {
        >a {
            >img {
                margin-left: 3rem;
                transition: all 125ms ease-in-out;

                @media only screen and (max-width: 700px) {
                    display: none;
                }

                &:hover {
                    transition: 125ms all ease-in-out;
                    transform: scale(1.2) translateY(-20%);
                }
            }
        }
    }
}

@media only screen and (max-width: 1480px) {

    .intials,
    .btn-container {
        margin: 0 1rem 0 1rem;
    }
}

.d-none {
    display: none
}