<section>
    <!-- HEADER SECTION-->
    <div class="container">
        <div class="intials">
            <a href="#header">
                <h2>[DvS]</h2>
            </a>
        </div>
        <div class="btn-container" id="menu-btn" (click)="openMenu()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>

    <!--MENU SECTION-->
    <div id="menu" class="menu-container" [ngStyle]="{ 
            'transform': menuIsOpen ? 'translateY(0rem)' : 'translateY(-90rem)',
            'transition': 'transform 0.7s, opacity 0.7s ease-in-out',
            'opacity': menuIsOpen ? '1' : '0',
            }">
        <div class="link-container">
            <a href="#about-me" class="fontSyne700 underline" (click)="closeMenu()">About me</a>
            <a href="#my-skills" class="fontSyne700 underline" (click)="closeMenu()">My Skills</a>
            <a href="#portfolio" class="fontSyne700 underline" (click)="closeMenu()">Portfolio</a>
        </div>

        <div>
            <div class="contact-menu-container">
                <h1 class="fontSyne800">Say Hi!</h1>

                <div class="social-media-section">
                    <a href="#contact-me" (click)="closeMenu()">
                        <span class=" fontOverpass300">mail&#64;dieter-von-stein.com</span>
                    </a>
                    <div>
                        <a href="https://github.com/D1m1tr1e" target="_blank">
                            <img src="../../../assets/img/github-icon.png" alt="">
                        </a>
                        <a href="#contact-me" (click)="closeMenu()">
                            <img src="../../../assets/img/email-icon.png" alt="">
                        </a>
                        <a href="https://www.linkedin.com/in/dieter-von-stein-225aa2249/" target="_blank">
                            <img src="../../../assets/img/linkedin-icon.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
