<section>
    <div class="intials">
        <h2 class="fontOverpass400">[DvS]</h2>
        <p class="fontPoppins400"> © Dieter von Stein 2024</p>
    </div>

    <div class="social-media-section">
        <div>
            <img src="../../../assets/img/github-icon.png" alt="">
            <img src="../../../assets/img/email-icon.png" alt="">
            <img src="../../../assets/img/linkedin-icon.png" alt="">
        </div>
        <div>
            <p>Legal notice</p>
        </div>
    </div>

</section>