section {
    max-width: 1440px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem 1rem 3rem;

    @media only screen and (max-width: 580px) {
        display: block;
    }
}

h2 {
    font-size: 23px;
    color: white;
}

p {
    color: white;
    margin-top: -1rem;

    @media only screen and (max-width: 580px) {
        display: none;
    }
}

a {
    text-decoration: none;
}

a.underline {
    margin-top: 1rem;
    font-size: 16px;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

a.underline::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgba(89, 136, 255, 1);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;
    transform-origin: left;
}

a.underline:hover::before {
    transform: scaleX(1);
    left: 50%;
}

span {
    color: white;
}

.social-media-section {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 580px) {
        display: none;
    }

    >div {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;

        a {
            >img {
                margin-left: 3rem;
                transition: all 125ms ease-in-out;

                &:hover {
                    transition: 125ms all ease-in-out;
                    transform: scale(1.2) translateY(-10%);
                }
            }
        }
    }
}

.intials {
    @media only screen and (max-width: 580px) {
        display: none;
    }
}

.mobile-view {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 580px) {
        display: flex;
    }

    >div {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;

        a {
            >img {
                margin: 0.5rem 1rem 0.5rem 1rem;
                transition: all 125ms ease-in-out;

                &:hover {
                    transition: 125ms all ease-in-out;
                    transform: scale(1.2) translateY(-20%);
                }
            }
        }
    }
}