<section>
    <div class="intials">
        <a href="#header">
            <h2 class="fontOverpass400">[DvS]</h2>
        </a>
        <p class="fontPoppins400"> © Dieter von Stein 2024</p>
    </div>

    <div class="social-media-section">
        <div>
            <a href="https://github.com/D1m1tr1e" target="_blank">
                <img src="../../../assets/img/github-icon.png" alt="">
            </a>
            <a href="#contact-me">
                <img src="../../../assets/img/email-icon.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/dieter-von-stein-225aa2249/" target="_blank">
                <img src="../../../assets/img/linkedin-icon.png" alt="">
            </a>
        </div>
        <div>
            <a class="underline" href="imprint">Legal notice</a>
        </div>
    </div>

    <!--MOBILE-->
    <div class="mobile-view">
        <div>
            <a href="https://github.com/D1m1tr1e" target="_blank">
                <img src="../../../assets/img/github-icon.png" alt="">
            </a>
            <a href="#contact-me">
                <img src="../../../assets/img/email-icon.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/dieter-von-stein-225aa2249/" target="_blank">
                <img src="../../../assets/img/linkedin-icon.png" alt="">
            </a>
        </div>
        <a href="#header">
            <h2 class="fontOverpass400">[DvS]</h2>
        </a>
        <span class="fontOverpass300">dimitriek&#64;hotmail.de</span>
        <a class="underline" href="imprint">Legal notice</a>
    </div>
</section>