section {
    position: relative;
    height: 25rem;
    max-width: 1440px;
    margin: 0 auto;
}

.startMovingArrow {
    >div {
        >img {
            position: absolute;
            top: 0;
            left: 0;
            animation: arrowMove 0.5s linear forwards;

            @media only screen and (max-width: 490px) {
                width: 10rem;
                height: 10rem;
            }
        }
    }
}

@keyframes arrowMove {
    0% {
        transform: translate(0, 0);
        /* Startposition */
    }

    100% {
        transform: translate(60%, 60%);
        /* Endposition */
    }
}


@media only screen and (max-width: 490px) {
    section {
        height: 16rem;
    }

    .startMovingArrow>div>img {
        animation: arrowMoveMobile 0.5s linear forwards;
    }

    .arrow-container {
        >img {
            width: 10rem;
            height: 10rem;
        }
    }
}

@keyframes arrowMoveMobile {
    0% {
        transform: translate(0, 0);
        /* Start position */
    }

    100% {
        transform: translate(30%, 30%);
        /* End position for mobile */
    }
}