section {
    max-width: 1440px;
    margin: 0 auto;
}

h1,
p,
h2,
h3,
h4 {
    margin: 1rem 1rem;

    @media only screen and (max-width: 1480px) {
        margin: 1rem 1rem;
    }
}

h1 {
    font-family: 'Syne';
    font-weight: 800;
    font-size: 35px;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
}

h3,
h4 {
    font-family: 'Overpass';
    font-weight: 700;
    font-size: 25px;
}

p,
li {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.content {
    margin-top: 5rem;
}