section {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    gap: 7rem;

    >.image-container {
        padding: 7rem 0 5rem 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media only screen and (max-width: 2040px) {
        gap: 11rem;
    }

    @media only screen and (max-width: 1800px) {
        gap: 22rem;
    }

    @media only screen and (max-width: 1520px) {
        justify-content: space-around;
    }

    @media only screen and (max-width: 960px) {
        gap: 19rem;
    }

    &:hover {
        .image-container .imageBorder {
            opacity: 1;
            transform: translate(10px, -0px);
            transition: all ease-in-out 125ms;
        }

        .image-container .arrow-container {
            opacity: 1;
        }

        .arrow-container {
            >img {
                transform: scale(1.5) rotate(-130deg);

                @media only screen and (max-width: 935px) {
                    rotate: (-180deg);
                }
            }
        }

        .projectDescription {
            opacity: 1;
            transform: translateX(50%);

            @media only screen and (max-width: 935px) {
                transform: translateY(130%);
            }

            @media only screen and (max-width: 700px) {
                transform: translateY(75%);
            }
        }
    }
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 45px;
}

span {
    font-size: 23px;
    color: rgba(89, 136, 255, 1);
}

p {
    font-size: 16px;
}

button {
    padding: 10px 30px 10px 30px;
    background-color: unset;
    margin-right: 1rem;
    border: 4px solid black;
    font-size: 23px;
    cursor: pointer;
    transition: all 125ms ease-out;

    @media only screen and (max-width: 560px) {
        font-size: 15px;
        padding: 6px 20px 6px 20px;
    }

    &:hover {
        transition: all 125ms ease-out;
        padding: 10px 40px 10px 40px;
        font-weight: bold;

        @media only screen and (max-width: 560px) {
            padding: 6px 30px 6px 30px;
        }
    }
}

.imageBorder {
    height: 70%;
    width: 100%;
    border: solid 3px black;
    position: absolute;
    opacity: 0;
    transition: all ease-in-out 125ms;

    @media only screen and (max-width: 1236px) {
        height: 65%;
    }

    @media only screen and (max-width: 520px) {
        height: 52%;
    }
}

.projectDescription {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8rem;
    opacity: 0;
    left: 45%;
    max-width: 30rem;
    transition: transform 0.5s ease;

    @media only screen and (max-width: 1340px) {
        left: 40%
    }

    @media only screen and (max-width: 1236px) {
        top: 7rem;
        left: 30%
    }

    @media only screen and (max-width: 1080px) {
        top: 4.5rem;
        max-width: 20rem;
        left: 40%;
    }

    @media only screen and (max-width: 935px) {
        top: 14rem;
        left: 5rem;
        //min-width: 80vw;
        //left: 3rem;
        min-width: 85vw;
    }

    @media only screen and (max-width: 600px) {
        top: 14rem;
        right: 3rem;
        left: 4rem;
        min-width: 27rem;
    }

    @media only screen and (max-width: 520px) {
        top: 10rem;
        right: 1rem;
        min-width: 18rem;
    }

    /*
    @media only screen and (max-width: 655px) {
        top: 14rem;
        left: 4rem;
        min-width: 27rem;
    }*/
    @media only screen and (max-width: 390px) {
        left: 2.5rem;
    }

    @media only screen and (max-width: 350px) {
        left: 1rem;
    }
}

.arrow-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    left: 35px;
    top: 40%;
    opacity: 0;

    @media only screen and (max-width: 1236px) {
        left: 30px;
    }

    @media only screen and (max-width: 935px) {
        top: 95%;
        left: -100px;
    }

    >img {
        transition: transform 0.5s ease;

        @media only screen and (max-width: 1236px) {
            height: 3rem;
        }

        @media only screen and (max-width: 935px) {
            height: 2rem;
        }
    }
}

.d-none {
    display: none;
}

@media only screen and (max-width: 1236px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 35px;
    }

    span {
        font-size: 18px;
    }

    #img-gray-pokedex,
    #img-colored-pokedex {
        width: 29rem;
    }
}

@media only screen and (max-width: 935px) {
    section {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 10rem;
    }

    h1 {
        position: absolute;
        right: 23px;
    }

    #img-gray-pokedex,
    #img-colored-pokedex {
        width: 40rem;
    }
}

@media only screen and (max-width: 700px) {

    #img-gray-pokedex,
    #img-colored-pokedex {
        width: 29rem;
    }
}

@media only screen and (max-width: 520px) {

    #img-gray-pokedex,
    #img-colored-pokedex {
        width: 18rem;
    }

    h2 {
        font-size: 25px;
    }

    span {
        font-size: 16px;
    }
}