<section (mouseover)="showProjectInfo()" (mouseleave)="hideProjectInfo()">
    <h1 class="fontSyne700">01/03</h1>
    <div class="image-container">
        <img id="img-gray" src="../../../../assets/img/pollo-loco-gray.png" alt="">
        <img id="img-colored" class="d-none" src="../../../../assets/img/pollo-loco-colored.png" alt="">
        <div class="imageBorder">
            <div class="arrow-container">
                <img src="../../../../assets/img/arrow-down-protfolio.png" alt="">
            </div>
        </div>
    </div>

    <div class="projectDescription">
        <h2 class="fontSyne800">El Pollo Loco</h2>
        <span class="fontOverpass400">JavaScript | OPP | HTML | CSS</span>
        <p class="fontOverpass400">Jump, run and throw game based on object-oriented approach. Help Pepe to find coins
            and tabasco salsa to
            fight against the crazy hen.</p>
    </div>
</section>