section {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-width: 1440px;

    >.image- {
        padding: 5rem 0 5rem 0;
        position: relative;

        &:hover {
            .imageBorder {
                opacity: 1;
                transform: translate(-10px, -10px);
                transition: all ease-in-out 125ms;
            }
        }
    }
}


h1 {
    font-size: 48px;
}

.d-none {
    display: none;
}

.imageBorder {
    height: 100%;
    width: 100%;
    border: solid 3px black;
    position: absolute;
    opacity: 0;
    transition: all ease-in-out 125ms;
}