<section (mouseover)="showProjectInfo()" (mouseleave)="hideProjectInfo()">
    <h1 class="fontSyne700">01/03</h1>
    <div class="image-container">
        <img id="img-gray" src="../../../../assets/img/pollo-loco-gray.png" alt="">
        <img id="img-colored" class="d-none" src="../../../../assets/img/pollo-loco-colored.png" alt="">
        <div class="imageBorder">
            <h1>a</h1>
        </div>
    </div>

    <div class="projectDescription">
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est ducimus cumque, officiis optio beatae rem
           ?</span>
    </div>
</section>